.container-testimony{
    width: 1170px;
    height: 368px;
    margin: 10px 10px 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: white;
    box-shadow: 0 3px 13px 1px rgba(0,0,0,0.1);;    
}

.image-testimony{
    width: 300px;
    height: 300px;
    border-radius: 15%;
    margin: 0 50px 0 0;
}

.container-text-testimony{
    width: 600px;
    height: 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.testimony-name{
    font-size: 20px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.position-testimony{
    font-size: 16px;
    font-weight: 600;
    margin: 0 0 10px 0;
}

.text-testimony{
    font-size: 16px;
    font-weight: 400;
    margin: 0 0 10px 0;
}
